<html>
    <head>
        <title>mdArea</title>
        <meta charset="utf-8" />
        <meta http-equiv="pragma" content="no-cache">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <!-- 强制让文档与设备的宽度保持1：1 -->
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
        <!-- 网页宽度默认等于屏幕宽度（width=device-width），
        初始缩放比例（initial-scale=1）为1.0，即网页初始大小占屏幕面积的100%。 -->
        <!-- 删除默认的苹果工具栏和菜单栏 -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <!-- 在web app应用下状态条（屏幕顶部条）的颜色 -->
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <!-- 禁止了把数字转化为拨号链接 -->
        <meta name="format-detection" content="telephone=no">
        <!-- 浏览网站时的小图标 -->
        <!-- <link rel="shortcut icon" href="favicon.ico" type="/image/x-icon">   -->
        <!-- 添加至主屏时的图片 -->
        <!-- <link rel="apple-touch-icon-precomposed" href="touch-icon.png"> -->
        <!-- 渲染模式 -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <link rel="styleSheet" href="https://cdn.sspai.com/MWeb.css" />
        <!-- <link rel="styleSheet" href="./css/github-markdown.css" /> -->
        <script src="https://cdn.bootcdn.net/ajax/libs/highlight.js/10.1.1/highlight.min.js"></script>
        <script src="./js/vue.min.js"></script>
        <script src="./js/marked.js"></script>
        <script>
            // var converter = new showdown.Converter({tables: true,extensions: ['prettify']});
            // converter.setOption({highlight: function (code) {
            //     console.log(hljs.highlightAuto,code);
            //     return hljs.highlightAuto(code).value;
            // }});
            // converter.makeHtml('@glyphicon-envelope');
            // converter.makeHtml('@fa-home');
            // // var defaultOptions = showdown.getDefaultOptions();
            marked.setOptions({
                highlight: function(code) {
                    return hljs.highlightAuto(code).value;
                },
                pedantic: false,
                gfm: true,
                tables: true,
                breaks: false,
                sanitize: false,
                smartLists: true,
                smartypants: false,
                xhtml: false
            })
            function mdSwitch() {
                that = document.querySelector('#md-area');
                text = that.innerText;
                // html = converter.makeHtml(text);
                html = marked(text);
                document.getElementById("preView").innerHTML = html;
                document.getElementById("mdReader").innerHTML = html;
            }
            function mdSave(){
                document.getElementById('md-area').innerText = document.getElementById('md-area').innerText
            }
            window.onkeydown = function (event) {
                if (event.ctrlKey && event.keyCode == 191) {
                    // Ctrl + / 
                    vue.MainToggle();
                }
                if (event.ctrlKey && event.keyCode == 83) {
                    // ctrl + s
                    mdSave()
                    if(event && event.stopPropagation){
                        event.stopPropagation();  //  w3c 标准
                        event.preventDefault();
                    }else{
                        event.cancelBubble = true;  // ie 678  IE浏览器
                    }
                }
            };
        </script>
        <style>
            html,body{width: 100%; height: 100%; padding: 0; margin: 0; min-width: 100%; color:#ccc !important}
            tr{background: #0005;}
            pre{background: #0009;}
            body{background: #000c; }
            .bg{background: url('editor6.jpg') no-repeat; background-size: cover;width: 100%; height: 100%; position: absolute; left: 0; right: 0; top: 0; bottom: 0;}
            .mdReader,.mdEditor{position: relative; width: 100%; margin: 0 auto; height: 100%; }
            .mdArea{background: #0005;width: calc(50% - 12px); height:800px; float: left; padding: 6px; height: calc(100% - 12px); margin: 0; box-sizing: 0 0 0 -3px #000; outline: none;}
            .mdReader{display: -webkit-flex;width: 100%;height: 100%;}
            #floder{  min-width: 180px;  max-width: 360px;  height: 100%;  display: -webkit-flex; display: flex; overflow: hidden; position: relative;}
            .floder{width: 180px;-webkit-flex-grow: 1;flex-grow: 1; background: #0005; position: relative; left: 0;}
            .floder ul li{list-style: none; height: 38px; line-height: 19px; cursor: pointer; }
            .floder ul li span{text-overflow: ellipsis; overflow: hidden; display: block;}
            .floder ul li.hover{ list-style-type: disc;}
            .floder ul:hover li{list-style-type: none;}
            .floder ul li:hover{ list-style-type: disc;}
            .floder._floder{position: absolute;}
            .floder._floder._parent{left: -180px; top: 0;}
            .floder._floder._son{left: 360px; top: 0;}
            .floder.son{background: #0004;}
            #mdReader{width: 1px;-webkit-flex-grow: 1;flex-grow: 1; background: #0003; padding: 8px;}
        </style>
    </head>
    <body>
        <div class="bg"></div>
        <div id="app">
            <div class="mdEditor" v-show="tab">
                <div id="md-area" class="mdArea" onkeypress="mdSwitch()" onkeyup="mdSwitch()" contenteditable=true>{{txt}}</div>
                <div id="preView" class="mdArea"></div>
            </div>
            <div class="mdReader" v-show="!tab">
                <div id="floder">
                    <ul class="scrollBtn">
                        <li class="btn-l">&lt;</li>
                        <li class="btn-r">&gt;</li>
                    </ul>
                    <div class="floder parent"><ul><li v-for="(v,k) in parent" :key="k"  :class="{'hover':hover[floder_level]!=null && v.id == hover[floder_level] }" @click="NavClick(0,k)"><span :title="v.title">{{v.title}}</span></li><li @click="createHandler(0)">add</li></ul></div>
                    <div class="floder son" v-show="parent.length > 0 && hover.length > 0"><ul><li v-for="(v,k) in son" :key="k" :class="{'hover':hover[floder_level]!=null && v.id == hover[floder_level] }" @click="NavClick(1,k)"><span :title="v.title">{{v.title}}</span></li><li @click="createHandler(1)">add</li></ul></div>
                    <div class="floder _floder _parent" v-show="pre_parent.length > 0"><ul><li v-for="(v,k) in pre_parent" :key="k"><span :title="v.title">{{v.title}}</span></li></ul></div>
                    <div class="floder _floder _son" v-show="pre_son.length > 0"><ul><li v-for="(v,k) in pre_son" :key="k"><span :title="v.title">{{v.title}}</span></li></ul></div>
                </div>
                <div id="mdReader">
                    {{txt}}
                </div>
            </div>
        </div>
    </body>
    <script>
        var mdList = [
            // {id:2,title:'333',dir:0,pid:0},
            // {id:3,title:'444',dir:0,pid:0},
            // {id:4,title:'555',dir:0,pid:0},
            // {id:5,title:'666',dir:1,pid:0},
            // {id:6,title:'777',dir:0,pid:0},
            // {id:7,title:'aaa1',dir:1,pid:2},
            // {id:8,title:'aaa2',dir:0,pid:2},
            // {id:9,title:'aaa3',dir:0,pid:2},
            // {id:10,title:'aaa4',dir:1,pid:4},
            // {id:11,title:'aaa5',dir:1,pid:4},
        ]
        for(var i = 0; i< 1000; i++){
            let dir = parseInt(Math.random()*2);
            mdList.push({id:i,title:String.fromCharCode(i)+String.fromCharCode(i**i)+String.fromCharCode(i+i)+i+dir,dir:dir,pid:parseInt(i - (Math.random() * i))},)
        }
        var vue = new Vue({
            el:"#app",
            data:{
                name:"mdArea",
                txt:'# howdy',
                tab:false, /*@true viewer @false editor */
                floder:{}, // 所有目录内容，undefined的时候会请求接口
                parent:[{id:1,title:'2',dir:1},{id:2,title:'3222',dir:1},{id:3,title:'4443',dir:0}], // 当前展示的父级目录
                son:[{id:4,title:'5',dir:1},{id:5,title:'7888',dir:1},{id:6,title:'9998',dir:0}], // 当前展示的子级目录
                pre_parent:[], // 向右切换的父级目录内容
                pre_son:[], // 用于向右切换的子级目录内容
                hover:[], // 当前选中的目录/文件
                historyl:[],
                historyr:[],
                floder_level:0, // 目录级别，用于左右切换
            },
            methods:{
                createHandler(channel){
                    switch(channel){
                        case 0:
                            pid = this.hover[this.hover.length - 2];
                            break;
                        case 1:
                            pid = this.hover[this.hover.length - 1];
                            break;
                    }
                },
                NavClick(channel,key){
                    switch (channel){
                        case 0:
                            if(0 == this.parent[key].dir){
                                this.getMdInfo(this.parent[key].id,x=>{
                                    this.txt = x
                                    this.$forceUpdate();
                                    this.$nextTick(function(){
                                        mdSwitch();
                                    })
                                });
                                return true;
                            }
                            // this.hover[0] = this.parent[key];
                            // this.hover[1] = null;
                            this.hover[this.hover.length?this.hover.length-1:0] = this.parent[key].id;
                            this.son = this.getDirNavList(this.parent[key].id)
                            this.$forceUpdate();
                        break;
                        case 1:
                            if(0 == this.parent[key].dir){
                                this.getMdInfo(this.son[key].id,x=>{
                                    this.txt = x
                                    this.$forceUpdate();
                                    this.$nextTick(function(){
                                        mdSwitch();
                                    })
                                });
                                return true;
                            }
                            this.historyl.push(this.parent)
                            this.parent = this.son;
                            this.son = [];
                            this.hover.push(this.parent[key].id)
                            this.son = this.getDirNavList(this.parent[key].id)
                            console.log(this.historyl);
                            this.$forceUpdate();
                        break;
                    }
                    console.log(this.hover)
                },
                MainToggle(){
                    this.tab = !this.tab;
                },
                getDirNavList(pid){
                    let res = []
                    mdList.forEach(element => {
                        if(pid == element.pid){
                            res.push(element);
                        }
                    });
                    return(res)
                },
                getMdInfo(id,fn){
                    let res = mdList.find(function(a){
                        if(a.id == id)return a;
                    });
                    fn(`
# 本文章id为：${id}

json格式为：\n
\`\`\`
${JSON.stringify(res,null,4)}
\`\`\`
                    
`)
                },
                createFloader(pid){
                    
                },
                loadFloader(id){

                },
                addMd(){

                },
                delMd(){

                },
                delFloader(){
                    
                },
                initDirNav(){
                    let res = this.getDirNavList(0);
                    this.parent = res;
                    this.son = [];
                    this.hover = [];
                }
            },
            created(){
                this.initDirNav()
                this.$nextTick().then(function () {
                    mdSwitch()                    
                })
            }
        })
    </script>
</html>
