<html>
    <head>
        <title>mdArea</title>
        <meta charset="utf-8" />
        <meta http-equiv="pragma" content="no-cache">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <!-- 强制让文档与设备的宽度保持1：1 -->
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
        <!-- 网页宽度默认等于屏幕宽度（width=device-width），
        初始缩放比例（initial-scale=1）为1.0，即网页初始大小占屏幕面积的100%。 -->
        <!-- 删除默认的苹果工具栏和菜单栏 -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <!-- 在web app应用下状态条（屏幕顶部条）的颜色 -->
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <!-- 禁止了把数字转化为拨号链接 -->
        <meta name="format-detection" content="telephone=no">
        <!-- 浏览网站时的小图标 -->
        <!-- <link rel="shortcut icon" href="favicon.ico" type="/image/x-icon">   -->
        <!-- 添加至主屏时的图片 -->
        <!-- <link rel="apple-touch-icon-precomposed" href="touch-icon.png"> -->
        <!-- 渲染模式 -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <style>
            
        </style>
        <!-- <link rel="styleSheet" href="https://cdn.sspai.com/MWeb.css" /> -->
        <link rel="stylesheet" href="./font/iconfont.css">
        <link rel="styleSheet" href="./css/MWeb.css" />
        <link rel="styleSheet" href="./css/mdArea.css" />
        <!-- <link rel="styleSheet" href="./css/github-markdown.css" /> -->
    </head>
    <body>
        <div class="bg"></div>
        <div id="app" v-cloak>
            <div class="mdEditor" v-show="tab">
                <pre id="md-area" class="mdArea" onkeypress="mdSwitch()" onkeyup="mdSwitch()" contenteditable=true>{{txt}}</pre>
                <div id="preView" class="mdArea"></div>
            </div>
            <div class="mdReader" v-show="!tab">
                <div id="nav">
                    <div id="floder">
                        <div class="floder _floder _parent" v-show="pre_parent.length > 0">
                            <ul>
                                <li v-for="(v,k) in pre_parent" :key="k">
                                    <span :title="v.title">{{v.title}}</span>
                                </li>
                            </ul>
                        </div>
                        <div class="floder parent">
                            <ul>
                                <li 
                                    v-for="(v,k) in parent" 
                                    :key="k"  
                                    :class="navOn(0,v,['hover',v.dir==1?'dir':'file'])" 
                                    @click="NavClick(0,k)"
                                >
                                    <span :title="v.title">{{v.title}}</span>
                                </li>
                                <li @click="createHandler(0)">add</li>
                            </ul>
                        </div>
                        <div class="floder son" v-show="parent.length > 0 && hover.length > 0">
                            <ul>
                                <li
                                    v-for="(v,k) in son"
                                    :key="k"
                                    :class="navOn(1,v,['hover',v.dir==1?'dir':'file'])" 
                                    @click="NavClick(1,k)"
                                >
                                    <span :title="v.title">{{v.title}}</span>
                                </li>
                                <li @click="createHandler(1)">add</li>
                            </ul>
                        </div>
                        <div class="floder _floder _son" v-show="pre_son.length > 0">
                            <ul>
                                <li v-for="(v,k) in pre_son" :key="k">
                                    <span :title="v.title">{{v.title}}</span>
                                </li>
                            </ul>
                        </div>
                        <ul class="scrollBtn">
                            <li class="btn-l" @click="navScroll(1)" v-show="historyl.length > 0">&lt;</li>
                            <li class="btn-r" @click="navScroll(0)" v-show="historyr.length > 0 && hover.length > 0 && this.hoverr.length > 0">&gt;</li>
                        </ul>
                    </div>
                </div>
                <div id="mdReader">
                    {{txt}}
                </div>
            </div>
        </div>
    </body>
    <script src="./js/highlight.min.js"></script>
    <script src="./js/vue.min.js"></script>
    <script src="./js/marked.js"></script>
    <script src="./js/index.js"></script>
</html>
